.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.img-grid img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    display: block;
}
/* Tablet */
@media screen and (max-width: 900px) {
    .img-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Phone */
@media screen and (max-width: 600px) {
    .img-grid {
        grid-template-columns: 1fr;
    }
}